<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="AliexpressFunctionalTests" verbose="1">
    <test name="Cart">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="lesson1.tests.selenium.AuthorizationInEmptyCartTest"/>
            <class name="lesson1.tests.selenium.AddProductInCartTest"/>
        </classes>
    </test>
    <test name="Wishlist">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="lesson1.tests.selenium.AddProductInWishListTest"/>
        </classes>
    </test>
    <test name="Links">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="lesson1.tests.selenium.CheckLinkPhonesAndAccessoriesTest"/>
            <class name="lesson1.tests.selenium.CheckLinkToAppInGooglePlayTest"/>
        </classes>
    </test>
    <test name="Messages">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="lesson1.tests.selenium.CheckPaginationInHistoryMessageTest"/>
        </classes>
    </test>
    <test name="Review">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="lesson1.tests.selenium.CheckReviewSendTest"/>
        </classes>
    </test>
    <test name="Authorization">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="lesson1.cucumber.CucumberRunner"/>
        </classes>
    </test>
</suite>