<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="AliexpressFunctionalTests" verbose="1">
    <test name="Cart">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="lesson1.tests.AuthorizationInEmptyCart"/>
            <class name="lesson1.tests.AddProductInCart"/>
        </classes>
    </test>
    <test name="Wishlist">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="lesson1.tests.AddProductInWishList"/>
        </classes>
    </test>
    <test name="Links">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="lesson1.tests.CheckLinkPhonesAndAccessories"/>
            <class name="lesson1.tests.CheckLinkToAppInGooglePlay"/>
        </classes>
    </test>
    <test name="Messages">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="lesson1.tests.CheckPaginationInHistoryMessage"/>
        </classes>
    </test>
    <test name="Review">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="lesson1.tests.CheckReviewSend"/>
        </classes>
    </test>
</suite>